@model IEnumerable<Biblioteka.Wypozyczenie>

@{
    ViewBag.Title = "Wypożyczenia";
}

<h2>Wypożyczenia czytelnika @ViewBag.Imie @ViewBag.Nazwisko</h2>

<table class="table">
    <tr>
        <th>
            Termin wypożyczenia
        </th>
        <th>
            Termin oddania
        </th>
        <th>
            Tytuł książki
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.CzyOddane == false) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TerminWypozyczenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TerminOddania)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Egzemplarz.Ksiazka.Tytul)
        </td>
        <td>
            @Html.ActionLink("Modyfikuj", "Edit", new { id = item.IdWypozyczenie }) |
            @Html.ActionLink("Przedłuż książkę", "Przedluz", new { id = item.IdWypozyczenie }) |
            @Html.ActionLink("Oddaj książkę", "Oddaj", new { id = item.IdWypozyczenie })
        </td>
    </tr>
        }
    }

</table>

<p>
    @Html.ActionLink("Wypożycz książkę", "../Wypozyczenies/Create", new { id = ViewBag.IdCzytelnikaDlaWypozyczenia })
</p>