@model IEnumerable<Biblioteka.Ksiegozbior>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImieAutora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NazwiskoAutora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tytul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RokWydania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NazwaWydawnictwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiczbaEgzemplarzy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImieAutora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NazwiskoAutora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tytul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RokWydania)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NazwaWydawnictwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LiczbaEgzemplarzy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
