@model Biblioteka.Wypozyczenie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Wypozyczenie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CzyOddane)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CzyOddane)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TerminWypozyczenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerminWypozyczenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TerminOddania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerminOddania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wersja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wersja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Czytelnik.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Czytelnik.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Egzemplarz.IdEgzemplarz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Egzemplarz.IdEgzemplarz)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdWypozyczenie }) |
    @Html.ActionLink("Back to List", "Index")
</p>
