@model IEnumerable<Biblioteka.Egzemplarz>

@{
    ViewBag.Title = "Index";
}

<h2>Egzemplarze</h2>

<p>
    @Html.ActionLink("Dodaj nowy egzemplarz (LINQ)", "Create")
</p>
<p>
    @Html.ActionLink("Dodaj nowy egzemplarz (procedura)", "CreateUsingProcedure")
</p>
<p>
    @Html.ActionLink("Lista przetrzymanych egzemplarzy", "PrzetrzymaneKsiazkis")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ksiazka.Tytul)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ksiazka.Tytul)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.IdEgzemplarz }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.IdEgzemplarz }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.IdEgzemplarz })
            </td>
        </tr>
    }

</table>

<br><strong>Liczba wypożyczonych egzemplarzy w ciągu ostatniego roku:</strong> @ViewBag.LiczbaWypozyczen.